* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}
html {
    font-size: 62.5%;
}

::selection {
    background-color: #00cec9;
    color: black;
}
nav {
    background-color: #d49466;
    height: 10rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .add {
        height: 5rem;
        cursor: pointer;
        width: 11rem;
        border-radius: 10px;
        font-size: 1.8rem;
        border: none;
        outline: none;
        background-color: palegoldenrod;
        transition: 0.3s;
        padding: 0.5rem;

        &:hover {
            background-color: rgb(231, 241, 139);
        }
        &:active {
            background-color: black;
            color: white;
        }
    }
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10rem;
    margin-top: 2rem;

    .note {
        flex-shrink: 0;
        height: 43rem;
        width: 35rem;
        border: 2px solid white;
        border-radius: 10px;
        overflow: hidden;

        .items {
            height: 10%;
            width: 100%;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 1rem;

            img {
                height: 60%;
                cursor: pointer;
                z-index: 111;
                margin: 1rem;
                transition: 0.3s;

                &:hover {
                    transform: rotateZ(30deg);
                }
            }
        }

        textarea {
            height: 90%;
            width: 100%;
            resize: none;
            padding: 1rem;
            outline: none;
            font-size: 1.8rem;
            background-color: transparent;
            font-weight: 500;
        }
    }
}

@media (max-width: 400px) {
    .main .note {
        width: 87%;
        height: 30rem;
    }
    .main {
        gap: 3rem;
    }
}
